<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ICalculatingService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://192.168.43.144:51077/calc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ICalculatingService"
                contract="ServiceReference1.ICalculatingService" name="BasicHttpBinding_ICalculatingService" />
        </client>
    </system.serviceModel>
</configuration>
