<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BalancerServiceSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:5434/BalancerService.asmx"
                binding="basicHttpBinding" bindingConfiguration="BalancerServiceSoap"
                contract="BalancerReference.BalancerServiceSoap" name="BalancerServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>